---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cloudstrap" description="ðŸŒ©ï¸ Cloudstrap: An Astro starter template utilizing Bootstrap, Astro-Icons & Sass." ogPic="https://huxley.cloud/og_picture.png">
  <main>
		<div class="bg-auto text-secondary px-4 py-5 text-center">
	    <div class="py-5">
	      <h1 class="display-5 fw-bold text-body">Cloudstrap</h1>
	      <div class="col-lg-6 mx-auto">
	        <p class="fs-5 mx-2 mb-4">Patching the internet to bring you and I closer together.</p>
	        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
	          <a href="/about/" class="btn btn-outline-primary btn-lg px-4 me-sm-3 fw-bold">About Me</a>
	          <a href="/contact/" class="btn btn-outline-secondary btn-lg px-4">Contact Me</a>
	        </div>
	      </div>
	    </div>
	  </div>
  </main>
</Layout>
