---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thank You" description="Thank you for reaching out!" ogPic="https://huxley.cloud/ferret.png">
  <main>
    <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-secondary">Thank You For Reaching Out</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Your message has been sent and I will get back to you as soon as I am able.</p>
      </div>
    </div>
  </div>
  </main>
</Layout>
