---
import { Icon } from 'astro-icon/components';
---
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Company, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://bsky.app/profile/huxley.cloud" aria-label="BlueSky link"><Icon name="ri:bluesky-fill" size={25} /></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://kolektiva.social/@hvxley" aria-label="Mastodon link" rel="me"><Icon name="ri:mastodon-fill" size={25} /></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/cloudhuxley/" aria-label="Instagram link"><Icon name="ri:instagram-line" size={25} /></a></li>
    </ul>
  </footer>
</div>
