---
import ColorModeButton from '../components/ColorModeButton.astro';
import { Icon } from 'astro-icon/components';
const { title } = Astro.props;
---
<header>
  <nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand col-sm-4" href="https://cloudstrap-mastodon.huxley.cloud/">{title}</a>
      <button class="navbar-toggler col-sm-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="justify-content-sm-end d-flex col-sm-4">
        <ColorModeButton />
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-lg-center">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          <li class="nav-item">
            <span class="nav-link" data-bs-toggle="modal" data-bs-target="#contactModal">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Us</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-lg-10 mx-auto">
            <p class="fs-5 mb-4">Please use the form below to reach out to us directly. Each form field is required.</p>
              <form name="contact-us" action="/thankyou/" method="post" data-netlify-recaptcha="true" netlify-honeypot="company" data-netlify="true">
              <div class="d-grid gap-2 justify-content-sm-center">
                <p class="hidden">
                  <label>
                    Company:
                    <input name="company" />
                  </label>
                </p>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-full-name"><Icon name="ri:map-pin-user-fill" size={15} /></span>
                  <input type="text" name="fullName" class="form-control" aria-label="Input for user's full name" aria-describedby="inputGroup-full-name" placeholder="Full name" required>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-email"><Icon name="ri:mail-send-line" size={15} /></span>
                  <input type="email" name="email" placeholder="Email" class="form-control" aria-label="Input for user's email address" aria-describedby="inputGroup-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                </div>
                <div class="input-group mb-3">
                  <textarea name="message" class="form-control" aria-label="Input for user's message" aria-describedby="inputGroup-message" placeholder="Say it ..." required></textarea>
                </div>
                <div class="mx-auto" data-netlify-recaptcha="true">
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <input type="reset" class="btn btn-outline-secondary" value="Reset" />
                  <input type="submit" class="btn btn-outline-primary" value="Submit" />
                </div></form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<style>
  span.nav-link {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }
</style>
