---
import '../styles/stylesheet.scss';
import Meta from '../components/Meta.astro';
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
import ColorModeGraphics from '../components/ColorModeGraphics.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	title: string;
	description?: string;
  ogPic?: string;
}


const { title, description, ogPic } = Astro.props;
---

<html lang="en" data-bs-theme="auto">
	<head>
  <Meta title="Cloudstrap" description="ðŸŒ©ï¸ Cloudstrap: An Astro starter template utilizing Bootstrap, Astro-Icons & Sass." ogPic="https://huxley.cloud/og_picture.png" />
  <title>{title}</title>
    <script>import "../scripts/color-modes.js";</script>
    <script>import "../scripts/bs-initial.js";</script>
	</head>
	<body>
    <ColorModeGraphics />
    <Navbar title="Cloudstrap" />
    <main class="bg-body-tertiary">
      <slot />
    </main>
		<Footer />
    <script src={bootstrap}></script>
	</body>
</html>
